@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  Outfit;
 }
 #root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
 }

 @keyframes fadeIn{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

 }

.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    background-color: #202020;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;

}
.main .nav img{
    width: 40px ;
    border-radius: 50%;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 25px;
    display: block;
    position: relative;
    top: -80px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5549);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
}

.main-bottom
{
    position: absolute;
    bottom:0;
    left: 110px;
    width: 100%;
    max-width: 840px;
    padding:0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #4e4e4e;
    color: #ececec;
    padding: 10px 20px;
    border-radius: 50px;


}
.search-box img{ 
width: 24px;
filter: invert(100%);
cursor: pointer;    
}
.search-box input{
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    padding: 8px;
    color: #e4e4e4;
    font-size: 18px;

}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;

} 
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow: scroll;

}

.result::-webkit-scrollbar{
    display: none;
}
.result-title{

    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

/* generated message */
.msg-container {
  display: flex;
  flex-direction: column;
  color: #d1d1d1;
  gap: 10px; /* Add gap between messages */
}

.user-msg, .bot-msg {
  font-size: 20px;
  text-align: left;
  display: flex;
  align-items: center; /* Align image and text vertically */
}

.user-img, .bot-img {
  width: 50px; /* Adjust image width as needed */
  height: 50px; /* Adjust image height as needed */
  margin-right: 10px; /* Add margin between image and text */
}

.user-msg {
  justify-content: flex-end;
  padding: 10px;
}

.bot-msg {
  justify-content: flex-start;
}

  


@keyframes loader{
    0% {background-position: -800px 0px;
}
100% {
    background-position: 800px 0px;
}
}
.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;


}
@media (max-width: 600px ){
    .main-bottom input{
        flex: none;
        width: 150px;
 
    }
    .main-bottom img{
        width: 20px ;

    }
    .card{
        display: block;
        bottom: 40px;
    }
   .search-box{
    padding: 4px 12px;
   }
 .search-box div{
    gap : 5px;
 }

}
.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(49, 49, 49);
    padding: 25px 15px;
}
.sidebar img
{
    width: 20px;
    color: #e2e6eb;
   filter: invert(100%);
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;

}
.sidebar .new-chat{
    margin-top: 50px;
    display:  inline-flex ;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #3d3d3d;
    border-radius: 50px;
    font-size: 14px;
    color: gray;
    cursor: pointer
    ;
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;

}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right:40px ;
    border-radius: 50px;
    color : #282828 ;
    cursor: pointer;

}
.sidebar .recent-entry:hover{
background-color: #e2e6eb;

}
.sidebar .bottom{
    display: flex;
    flex-direction: column;

}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

@media (max-width:600px) {

    .sidebar{
        display: none;    
    }
}